.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 120px;
  height: 40px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 130px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  border: 2px solid var(--bs-gray-500);
  transition: 0.3s ease all;
  z-index: 1;
}

.layer::after {
  content: "TRAIN";
  color: var(--bs-dark);
  font-size: large;
  position: absolute;
  top: 6px;
  right: 20px;
}

#play-train-btn .knobs:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  padding: 9px 4px;
  background-color: var(--bs-pink);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#play-train-btn .checkbox:checked + .knobs:before {
  content: "";
  left: 85px;
  background-color: var(--bs-primary);
}

#play-train-btn .checkbox:checked ~ .layer::after {
  content: "PLAY";
  left: -20px;
}

#play-train-btn .knobs,
#play-train-btn .knobs:before,
#play-train-btn .layer {
  transition: 0.3s ease all;
}

@media (min-width: 1200px) {
  .button {
    width: 150px;
    height: 50px;
  }

  .layer {
    border-width: 3px;
  }

  .layer::after {
    left: 50px;
    top: 6px;
    font-size: 25px;
  }

  #play-train-btn .checkbox:checked ~ .layer::after {
    left: -20px;
  }

  #play-train-btn .knobs:before {
    width: 40px;
    height: 40px;
    top: 5px;
  }

  #play-train-btn .checkbox:checked + .knobs:before {
    left: 104px;
  }
}

@media (max-width: 484px) {
  .button {
    width: 90px;
    height: 33px;
    left: 2px;
  }

  .layer {
    border-width: 2px;
  }

  .layer::after {
    left: 33px;
    top: 4px;
    font-size: 14px;
  }

  #play-train-btn .checkbox:checked ~ .layer::after {
    left: -10px;
  }

  #play-train-btn .knobs:before {
    width: 25px;
    height: 25px;
    top: 4px;
    left: 4px;
  }

  #play-train-btn .checkbox:checked + .knobs:before {
    left: 61px;
  }
}
