.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 120px;
  height: 40px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 130px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  border: 2px solid var(--bs-primary);
  transition: 0.3s ease all;
  z-index: 1;
}

.layer::after {
  content: "TRAIN";
  color: var(--bs-primary);
  font-size: large;
  position: absolute;
  top: 6px;
  right: 20px;
}

#play-train-btn .knobs:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 30px;
  height: 30px;
  padding: 9px 4px;
  background-color: var(--bs-yellow);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#play-train-btn .checkbox:checked + .knobs:before {
  content: "";
  left: 86px;
  background-color: var(--bs-primary);
}

#play-train-btn .checkbox:checked ~ .layer::after {
  content: "PLAY";
  left: -25px;
}

#play-train-btn .knobs,
#play-train-btn .knobs:before,
#play-train-btn .layer {
  transition: 0.3s ease all;
}

@media (min-width: 992px) {
  .button {
    width: 170px;
    height: 65px;
  }

  .layer {
    border: 3px solid var(--bs-primary);
  }

  .layer::after {
    left: 65px;
    top: 11px;
    font-size: 28px;
  }

  #play-train-btn .checkbox:checked ~ .layer::after {
    left: -30px;
  }

  #play-train-btn .knobs:before {
    width: 55px;
    height: 55px;
    top: 5px;
  }

  #play-train-btn .checkbox:checked + .knobs:before {
    left: 111px;
  }
}

@media (max-width: 484px) {
  .button {
    width: 80px;
    height: 31px;
    left: 3px;
  }

  .layer::after {
    left: 29px;
    top: 4px;
    font-size: 14px;
  }

  #play-train-btn .checkbox:checked ~ .layer::after {
    left: -8px;
  }

  #play-train-btn .knobs:before {
    width: 25px;
    height: 25px;
    top: 3px;
  }

  #play-train-btn .checkbox:checked + .knobs:before {
    left: 51px;
  }
}
